@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

.App {
  display: grid;
  font-family: 'Fraunces', serif;
}
.App-header {
  display: grid;
  grid-template-columns: [left] 1fr [right];
}

.App-header header {
  display: flex;
  justify-content: center;
  color: #000;
}

.header {
  /* filter: contrast(95%); */
  background: #373F47;
  width: 100vw;
  /* background-image: url("home-bg.png"); */
  /* overflow: hidden; */
  /* opacity: 0.4; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  text-align: center;
  z-index: 1;
  height: 500px;
}

img{
  opacity: 0.4;
  object-fit: fill;
}

.profile-card{
  position: absolute;
  background-color: transparent;
  color: white;
  height: 100%;
  width: 80%;
  border-radius: 0px 0px 0px 0px;
  margin: 0%;
  z-index: 1;
}

.pancake{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-image{
  flex: 0 1 30%;
  background-image: url("profile.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  margin: 50px;
}

.bio{
  flex: 0 1 40%;
  margin: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
}

.header2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  filter: contrast(95%);
  background-color: #373F47;
  background-size: cover;
  text-align: center;
  z-index: -1;
  height: 300px;
}

.project-card{
  display: grid;
  place-items: center;
  width: 50%;
  height: 15rem;
  background-color: white;
  color: #373F47;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px 20px 0px 0px;
  margin-top: auto;
  padding: 1rem;
}

.project-card:hover{
  display: grid;
  place-items: center;
  width: 50%;
  height: 15rem;
  background-color: #AAABBC;
  color: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: auto;
  padding: 1rem;
}

button{
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  color: #373F47;
}

button:hover{
  background-color: #AAABBC;
  color: white;
}

a{
  color: #373F47;
  text-decoration: none;
}

a:hover{
  color: white;
  font-style: normal;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
